@CHARSET "UTF-8";
#leftE{
	
	background: linear-gradient(to left,#000000 50%,#333333 50%) ;
	background-size: 200% 100%;
	 background-position: left top; 
	cursor: pointer;
	color: #FFFFFF;
	padding: 10px;
    height: 45px;
	transition: all .4s;
	font-size: 11px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#leftE:hover{
	background-position: right top;
}